{{#each results}}
<div class='meetup_venue_events_list_item'>
    <h3 class='meetup_venue_event_title'><a href='{{event_url}}' target='_blank'>{{name}}</a></h3>
    <div class='meetup_venue_event_time'>{{date_format time utc_offset}}</div>
    <div class='entry-meta'>
        <div class='meetup_venue_event_by'>by <a href='http://www.meetup.com/{{group.urlname}}/' target='_blank' class='meetup_venue_event_group'>{{group.name}}</a></div>
    </div>
    <div class='meetup_venue_event_description'>{{{description}}}</div>
</div>
{{/each}}